.indicator {
  font-size: $font-size-h5;
  border-bottom: 1px solid #eee;
  &:last-child {

  }
}

.indicators {
  position: absolute;
  left: 0;
  width: 350px;
  top: 52px;
  bottom: 0;
  overflow: auto;
}

.view {
  background-color: #fff;
  position: absolute;
  left: 350px;
  right: 0;
  top: 52px;
  bottom: 0;
}

.dropdown {
  display: inline;
}

.view-nav {
  background-color: #f2f2f2;
  padding: 1.4rem;

  button {
    color: $text-color;
  }
}

.btn-parameter {
  background-color: transparent;
  display: table-cell;
  margin-right: 6px;
  opacity: .2;
  padding-left: 4px;
  padding-right: 4px;
  transition: 300ms opacity, background-color;
  &:hover {
    opacity: 1;
    background-color: #eee;
  }
  .indicator.open & {
    background-color: #ddd !important;
  }
}

.indicator-wrapper {
  display: table;
  width: 100%;
}

.indicator.open .icon-cog:before {
  transform: rotate(-180deg);
}

.indicator-title {
  display: table-cell;
  width: 100%;
  padding: .6rem;
  transition: all 100ms;
}

.indicator-header {
  width: 100%;
  display: table-row;
  padding-right: 1rem;
  transition: 300ms background-color;
  cursor: pointer;
  .indicator.open & {
    background-color: #ddd !important;
  }
  &:hover {
    background-color: #eee;
  }
  .indicator.hover & {
    background-color: #fff;
  }
}

.legend-item-color {
  width: 18px;
  height: 18px;
  display: inline-block;
  margin-right: 6px;
  position: relative;
  top: 3px;
}

.lab-chart {
  width: 100%;
  background-color: #ccc;
  height: 60rem;
}

.dropdown-menu.locations {
  padding: 1.4rem;
}

.indicator-parameter {
  display: none;
  padding: 1rem;
  background-color: #eee;
  transition: 300ms all;
  .indicator.open & {
    display: block;
  }
}
